{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroUIBundle::macros.html.twig' as ui %}

{% block stats %}{% endblock %}

{% block breadcrumbs %}
    <div class="pull-left">
        <b>Status: </b>
        {% if runningCount > 0 %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled fa-circle"></i>
                {{ 'okvpn.mqinsight.view.running'|trans }}  {{ running|join(',') }}
            </div>
        {% else %}
            <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled fa-circle"></i>
                {{- 'okvpn.mqinsight.view.stopped'|trans -}}
            </div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    <link rel="stylesheet" href="{{ asset('bundles/okvpnmqinsight/css/c3.min.css') }}">

    {% set generalInformation %}
    <div class="widget-content">

        <b>{{ 'okvpn.mqinsight.view.label'|trans }}</b>
        <div class="row-fluid form-horizontal contact-info">
            {{ ui.renderHtmlProperty('okvpn.mqinsight.queue_size'|trans, size) }}
            {{ ui.renderHtmlProperty('okvpn.mqinsight.avg_queue_size'|trans, dailyStat.avgSize|round) }}
            {{ ui.renderHtmlProperty('okvpn.mqinsight.consumers'|trans, runningCount) }}
            {{ ui.renderHtmlProperty('okvpn.mqinsight.added_to_route'|trans, dailyStat.added|number_format) }}
            {{ ui.renderHtmlProperty('okvpn.mqinsight.processed'|trans, dailyStat.removed|number_format) }}
            {{ ui.renderHtmlProperty('okvpn.mqinsight.errors'|trans, dailyStat.error) }}
        </div>
    </div>
    {% endset %}

    {% set plotInfo %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'contentClasses': [],
            'url': path('okvpn_mq_insight_plot')
        }) }}
    {% endset %}

    {% set gridErrors %}
        {{ dataGrid.renderGrid('message-queue-error-grid') }}
    {% endset %}

    {% set gridProcessor %}
        <b>{{ 'okvpn.mqinsight.view.grid_by_processor_label'|trans }}</b>
        {{ dataGrid.renderGrid('message-queue-processor-grid', {created: fetchFrom}) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [generalInformation] }
            ]
        },
        {
            'title': 'okvpn.mqinsight.view.chart'|trans,
            'subblocks': [
                {'data' : [plotInfo] },
                {'data' : [gridProcessor]}
            ]
        }
    ] %}

    {% set chartData %}
        {% include 'OkvpnMQInsightBundle:Queue:lineChart.html.twig' %}
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'okvpn.mqinsight.avg_queue_size'|trans,
        'priority' : 100,
        'subblocks': [
            {
                'spanClass': 'empty activities-container',
                'data': [chartData]
            }
        ]
    }]) %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'okvpn.mqinsight.errors'|trans,
        'priority' : 120,
        'subblocks': [
            {
                'spanClass': 'empty activities-container',
                'data': [gridErrors]
            }
        ]
    }]) %}

    {% set id = 'message-queue-status' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock %}
